<!DOCTYPE html>
<html>
  <head>
      
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 80%; }
      
      .button {
          background-color: #DC143C;
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
      }
    </style>
    
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=initMap">
    </script>
      
  </head>
  <body>
      
    <div id="select" style = "float:left; width:15%;">
        <h2> Google Maps API </h2><br>
        City  : {{pos.city}}  <br>
        State : {{pos.state}} <br>
        Country  : {{pos.country}}  <br>
        Latitude : {{pos.Latitude}} <br>
        Longitude: {{pos.longitude}}<br><br>
        <a href="/" class="button">BACK</a> 
        
    </div>
    <br>
    <div id="map" style = "float:right; width:85%;"></div>
    
    <script src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry" type="text/javascript"></script>
    <script type="text/javascript">
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            //center: {lat: 45.5, lng: -73.4},
            center: new google.maps.LatLng(45.5, -73.4),
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            zoom: 6
        });
        
        var lat = {{ pos.Latitude}};
        var lng = {{ pos.longitude}};
        var marker = new google.maps.Marker({
            //position: {lat, lng},
            position: new google.maps.LatLng(lat, lng),
            map: map,
            title: 'Vous etes ici'
        });
        
        // Calcul Distances
        var a = map.center;
        var b = marker.position;
        var distance = calcDistance(a.lat(), a.lng(), b.lat(), b.lng())/1000;
        window.alert(distance);
        
        function calcDistance (fromLat, fromLng, toLat, toLng) {
              return google.maps.geometry.spherical.computeDistanceBetween(
                new google.maps.LatLng(fromLat, fromLng), new google.maps.LatLng(toLat, toLng));
        }

    }

    </script>
  </body>
</html>